body {
  background-color: #f5f9ee;
}

.App {
  font-family: "Montserrat", sans-serif;
  margin-left: 200px;
  margin-right: 250px;
}

.App-header {
  margin: 45px 0;
  font-size: 40px;
  font-weight: 500;
  display: block;
  text-align: center;
}

.App-footer {
  margin-top: 30px;
  font-weight: 300;
  font-size: 13px;
}

.githubLink {
  color: black;
  opacity: 50%;
  text-decoration: none;
}
